html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiAutocomplete-root fieldset,
.MuiAutocomplete-root fieldset:hover {
  border-color: transparent !important;
}

.MuiAutocomplete-root input {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  color: "#eeeeee";
}

