html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  padding-right: 0;
  padding-left: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif !important;
  -webkit-appearance: none;
}

.MuiAutocomplete-root fieldset,
.MuiAutocomplete-root fieldset:hover {
  border-color: transparent !important;
}

.MuiAutocomplete-root input {
  font-weight: 400;
  color: "#eeeeee";
}

.css-jebe41-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #757575;
  font-weight: 600;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #757575;
}

::placeholder {
  color: "#000000";
}

.MuiSelect-select
  .MuiSelect-outlined
  .MuiOutlinedInput-input
  .MuiInputBase-input
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  border: "!important unset";
}

.st0 {
  color: "#fff";
}

.maps {
  width: "100%";
  height: "100%";
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -50px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 50px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 50px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Swiper Slide Arrows */

/* Prev Arrow */

.swiper-button-prev {
  color: #fff !important;
  left: 40px !important;
}

/* Next Arrow */

.swiper-button-next {
  color: #fff !important;
  right: 60px !important;
}

.swiper-button-next {
  display: none !important;
}
.swiper-button-prev {
  display: none !important;
}

/* Swiper Bullets */

.swiper-pagination {
  padding-bottom: 25px !important ;
}

.swiper-pagination-bullet {
  background-color: #9e9e9e !important;
  height: 12.5px !important;
  width: 12.5px !important;
  margin-right: 10px !important;
  opacity: 0.5 !important;
  cursor: pointer !important;
  border-radius: 100% !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  opacity: 1 !important;
  width: 12.5px !important;
  height: 12.5px !important;
}
